<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<div class="card-panel teal lighten-2">Please choose an app to go forward</div>
<div class="col s12 m2">
<p class="z-depth-5"><a href="{% url 'weatherinfo' %}">weatherinfo</p></a>
</div>
<div class="col s12 m2">
<p class="z-depth-5"><a href="{% url 'urlshortner' %}">urlshortner</a>
</div>
<div class="col s12 m2">
<p class="z-depth-5"><a href="{% url 'contactform' %}">contactform</a>
</div>
</div>